*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300px;
    width: 300px;
    background-color:whitesmoke;
    margin: 10px auto 0;
    box-shadow: 0 0 15px rgb(145, 144, 144);
    color: rgb(1, 19, 19);
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.container-demo{
    background-color: rgb(240, 240, 245);
   
    color: rgb(18, 18, 19);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 20px;
    
}
/* space launa lai justify content evenly */
/* .a {
    
    width: 30%;
}
.container-demo .a{
    height: 20px;

    
}
.container-demo .c{
    height: 10px;
}
.container-demo .i{
    height: 20px;
}
.client img {
    width: 8%;
    height: 40px;
} */
.container:hover{
    filter: none;
    transform: scale(1.1);
    transition: all 2s;
}
